@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #E38D0C;
}

header h1{
    text-align: center;
    margin-right: 5em;
    margin-left: 5em;
    font-family: 'Style Script', cursive;
}

header img{
    float: right;
    height: 100px;
    margin-top: 0.1em;
    transform: scaleX(-1);
    transition-delay: 1s;
    transition-duration: 0.3s;
}

nav{
    background-color: #F1B356;
    padding: 0.6em;
}

nav a{
    text-decoration: none;
    padding: 0.6em;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: black;
}

nav a:hover{
    color: white;
    background-color: rgb(202, 102, 8);
    padding: 0.6em;
    text-decoration: 0.2em underline;
    transition-duration: 0.4s;
}

h2{
    text-align: center;
    margin: 1em;
    font-family: 'Oswald', sans-serif;
    font-size: 1.7vw;
}

.img-left-orientation{
    float: right;
    font-size: 1.4vw;
    text-align: justify;
    margin: 3em 2em auto 0.4em;
}

.img-left-orientation img{
    height: 6em;
    width: 9vw;
    float: left;
    margin-bottom: 5em;
    margin-right: 5em;
}

hr{
    border-top: 0.1em solid orange;
    width: 50%;
    margin-left: 25%;
    position: relative;
}

.img-right-orientation p{
    font-size: 1.4vw;
    margin: 5em 25em 5em 0.4em;
}

.img-right-orientation img{
    float: right;
    margin-right: 5em;
    height: 13vw;
}

.github p{
    font-size: 1.4vw;
    text-align: justify;
    margin: 3em 5em 2em 15em;
}

.github a{
    color: #E38D0C;
}

.github img{
    float: left;
    color: #E38D0C;
    height: 8vw;
    margin-left: 10em;
    margin-bottom: 0.3em;
    margin-right: 1em;
}

footer{
    font-family: 'Oswald', sans-serif;
    background-color: #E38D0C;
    width: 100%;
}

footer p{
    text-align: center;
    font-size: 1.2vw;
    margin-top: 6vw;
}
